.container{
    width: 100%;
    background-color: #333;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #ddd;
}
.container ul{
    display: flex;
    list-style-type: none;
    gap: 0.5rem;
}